---
name: Test report
about: Create a report to describe the test you will do .
---

<!-- Please search existing issues to avoid creating duplicates. -->

# Test Report

Test number :
Test name :

## Description

Info about the test here .

### Test objectives :

1. Objective 1
2. Objective 2

### Expected Result :

The expected result was...

You may write the expected result here with a description of what you want the changes do .

### Actual Results (updatable) :

The actual result was...

Would be awesome to link screenshots here for the gotten results in a previous tests .
